@import 'normalize.scss';
@import 'fonts.scss';
@import 'reset.scss';

//=== VARIABLES ========================================================================
$color-white: #fff;
$color-hide: #003861;
$color-bg: #021021;
//=== /VARIABLES =======================================================================

// === COMMON ==========================================================================
body {
    background-color: $color-bg;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.nopadding {
    padding: 0 !important;
}
.container {
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 22px;
}
h2 {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: $color-white;
    text-transform: uppercase;
}
h5 {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
    text-transform: uppercase;
}
h6 {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-white;
}
a {
    display: inline-block;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
    text-decoration: none !important;
}
p {
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
}
.button-play {
    background: #020922;
    border: 2px solid $color-white;
    border-radius: 39px;
    text-decoration: none;
    &:hover {
        color: $color-white;
    }
}
.button-white {
    background: $color-white;
    border-radius: 39px;
    border: 2px solid $color-white;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #020406;
}
// === HEADER =======================================================================
.header {
    background: url(../assets/Topimg.png) center no-repeat;
    background-size: cover;
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 170px;
        position: relative;
        z-index: 1000;
        &__logo {
            display: flex;
        }
        &__burger {
            display: none;
        }
        &__nav {
            display: flex;
            .nav-list {
                display: flex;
                align-items: center;
                li {
                    margin-right: 52px;
                    &:last-child {
                        margin-right: 0;
                        margin-left: 129px;
                    }
                }
                a {
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                }
                &__link {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &:hover {
                        border-bottom: 2px solid $color-white;
                        color: $color-white !important;
                    }
                }
            }
        }
    }
    .header-carousel {
        margin-top: 160px;
        margin-bottom: 320px;
        position: relative;
        z-index: 4;
        .carousel-indicators {
            li {
                width: 20px;
                height: 4px;
                background-clip: border-box;
                border: none;
                border-radius: 42px !important;
            }
            top: 285px;
            justify-content: flex-start;
            margin-right: 0;
            margin-left: 0;
        }
        .carousel-item {
            height: 255px;
            .title-container {
                margin-bottom: 26px;
                display: flex;
                img {
                    margin: 0 10px;
                }
            }
            h2 {
                margin-bottom: 16px;
            }
            p {
                margin-bottom: 30px;
            }
            a {
                padding: 10px 16px;
                &:hover {
                    background: $color-white;
                    color: $color-bg;
                }
                .fa-play {
                    font-size: 14px;
                    margin-right: 8px;
                }
            }
        }
    }
    .header-earth {
        img {
            max-width: 100%;
        }
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
    }
    .videos {
        h2 {
            text-align: center;
            margin-bottom: 46px;
        }
        .videos-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            margin-bottom: 50px;
            &__item {
                max-width: 100%;
                &:nth-child(1) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/history.jpg) center no-repeat;
                        background-size: cover;
                        border-radius: 2px;
                        p {
                            padding-right: 45px;
                        }
                    }
                }
                &:nth-child(2) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/biology.jpg) center no-repeat;
                        background-size: cover;
                    }
                }
                &:nth-child(3) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/human.jpg) center no-repeat;
                        background-size: cover;
                        p {
                            padding-right: 55px;
                        }
                    }
                }
                &:nth-child(4) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/space.jpg) center no-repeat;
                        background-size: cover;
                        h6 {
                            padding-right: 30px;
                        }
                        p {
                            padding-right: 45px;
                        }
                    }
                }
                &:nth-child(5) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/travel.jpg) center no-repeat;
                        background-size: cover;
                    }
                }
                &:nth-child(6) {
                    .videos-container__item__inner {
                        background: url(..//assets/seriesDesktop/music.jpg) center no-repeat;
                        background-size: cover;
                        p {
                            padding-right: 45px;
                        }
                    }
                }
                &__inner {
                    width: 263px;
                    height: 252px;
                    display: flex;
                    flex-direction: column;
                    h6 {
                        padding: 32px 0 15px 29px;
                    }
                    p {
                        padding: 0 0 0 29px;
                    }
                    a {
                        display: flex;
                        width: 143px;
                        height: 40px;
                        justify-content: center;
                        align-items: center;
                        margin-left: 29px;
                        background: transparent;
                        margin-bottom: 32px;
                        margin-top: auto;
                        &:hover {
                            background: $color-white;
                            color: $color-bg;
                        }
                        .fa-play {
                            font-size: 14px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        .videos-hide-button {
            text-align: center;
            margin: 32px 0 40px 0;
            a {
                padding: 10px 28px;
                &:hover {
                    background: $color-bg;
                    color: $color-white;
                }
            }
        }
    }
}
@media (min-width: 1151px) {
    .header {
        .navigation {
            &__nav {
                .navigation-search-lock {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 1250px) {
    .header {
        .container {
            .videos {
                .videos-container {
                    grid-template-columns: 1fr 1fr 1fr;
                    &__item {
                        justify-self: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .header {
        .header-carousel {
            margin-top: 40px;
        }
        .videos {
            padding-top: 400px;
        }
        .header-earth {
            top: 230px;
        }
    }
}
@media (max-width: 1150px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        .container {
            .navigation {
                height: 70px;
                justify-content: space-between;
                &__logo {
                    position: relative;
                    z-index: 5;
                }
                &__burger {
                    display: block;
                    position: relative;
                    z-index: 5;
                    cursor: pointer;
                    .second {
                        display: none;
                    }
                    &.active {
                        .second {
                            display: block;
                        }
                        .first {
                            display: none;
                        }
                    }
                }
                &__nav {
                    display: block;
                    position: fixed;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color-hide;
                    padding: 69px 0 0 0;
                    overflow: auto;
                    z-index: 3;
                    &.active {
                        top: 0;
                    }
                    .nav-list {
                        display: block;
                        text-align: left;
                        li {
                            margin: 39px 0 39px 29px;
                            &:last-child {
                                margin-bottom: 10px;
                            }
                        }
                        .navigation-search {
                            display: none;
                        }
                        .navigation-search-lock {
                            .button-upper {
                                display: flex;
                                align-items: center;
                                margin-right: 22px;
                                border-bottom: 2px solid $color-white;
                                .search-txt {
                                    border: none;
                                    background: none;
                                    outline: none;
                                }
                            }
                            .button-lower {
                                margin-top: 24px;
                                a {
                                    display: block;
                                    color: $color-white;
                                    margin-right: 22px;
                                    text-align: center;
                                    padding: 8px 0;
                                    background: transparent;
                                    border: 2px solid #fff;
                                    text-transform: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 920px) {
    .header {
        .container {
            .videos {
                .videos-container {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    &__item {
                        &__inner {
                            justify-self: center;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 875px) {
    .header {
        .container {
            .header-carousel {
                .carousel-inner {
                    .carousel-item {
                        h2 {
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                }
            }
            .videos {
                padding-top: 350px;
            }
        }
    }
}
@media (max-width: 750px) {
    .header {
        .container {
            .videos {
                padding-top: 250px;
            }
        }
    }
}
@media (min-width: 621px) {
    .header {
        .container {
            .videos {
                .videos-hide-button {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 620px) {
    .header {
        .container {
            .header-carousel {
                .carousel-item {
                    height: 375px;
                    .title-container {
                        display: flex;
                        flex-direction: column-reverse;
                        h5 {
                            padding-bottom: 6px;
                        }
                        img {
                            display: none;
                        }
                    }
                } 
            }
            .videos {
                padding-top: 200px;
                .videos-container {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    &__item {
                        &:nth-child(4),
                        &:nth-child(5),
                        &:nth-child(6) {
                            display: none;
                        }
                    }
                }
            }
        }
        .header-earth {
            top: 300px;
        }
    }
}
@media (max-width: 500px) {
    .header {
        .container {
            .header-carousel {
                .carousel-item {
                    .title-container {
                        margin-bottom: 10px;
                    }
                }
                .carousel-indicators {
                    top: 360px;
                }
            }
            .videos {
                padding-top: 0;
            }
        }
    }
}
@media (max-width: 400px) {
    .header {
        .container {
            .header-carousel {
                margin-bottom: 200px;
            }
            .videos {
                .videos-container {
                    &__item {
                        width: 100%;
                        &__inner {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// === /HEADER ======================================================================

// === EPISODES =====================================================================
.episodes {
    padding-top: 61px;
    .container {
        .episodes-title {
            text-align: center;
        }
        .episodes-container {
            margin-top: 46px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 156px 156px;
            grid-gap: 30px;
            .episodes-item {
                background-color: #082B55;
                display: grid;
                grid-template-rows: 1fr;
                &__description {
                    margin: 32px 0 0 40px;
                    h6 {
                        margin-bottom: 15px;
                    }
                }
                &__button-low {
                    .button-play {
                        padding: 10px 25px;
                        margin: 50px 0 0 24px;
                        background: transparent;
                        &:hover {
                            background: $color-white;
                            color: $color-bg;
                        }
                        .fa-play {
                            font-size: 14px;
                            margin-right: 8px;
                        }
                    }
                }
                &__button {
                    place-self: center;
                }
                .button-time {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        margin-bottom: 15px;
                    }
                    h6 {
                        font-weight: 400;
                    }
                }
            }
        }
        .episodes-button {
            text-align: center;
            margin: 41px 0 61px 0;
            .button-play {
                padding: 10px 38px;
                &:hover {
                    background: $color-white;
                    color: $color-bg;
                }
            }
        }
    }
}
@media (min-width: 1201px) {
    .episodes {
        .container {
            .episodes-container {
                .episodes-item {
                    &:nth-child(1) {
                        grid-template-columns: 410px 1fr;
                    }
                    &:nth-child(2) {
                        grid-template-columns: 431px 1fr;
                    }
                    &:nth-child(3) {
                        grid-template-columns: 420px 1fr;
                    }
                    &:nth-child(4) {
                        grid-template-columns: 408px 1fr;
                    }
                    &__button-low {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .episodes {
        .container {
            .episodes-container {
                grid-template-columns: 1fr;
                grid-template-rows: 252px 252px 252px 252px;
                .episodes-item {
                    grid-template-rows: 1fr 1fr;
                    &__description {
                        margin: 24px 0 0 24px;
                    }
                    &__button {
                        display: none;
                    }
                    .button-time {
                        display: none;
                    }
                }
            }
            .episodes-button {
                margin: 32px 0 40px 0;
            }
        }
    }
}
@media (max-width: 600px) {
    .episodes {
        .container {
            .episodes-container {
                grid-template-rows: 252px 252px 252px;
                .episodes-item {
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 374px) {
    .episodes {
        .container {
            .episodes-container {
                grid-template-rows: 275px 275px 275px;
            }
        }
    }
}
// ===/EPISODES =====================================================================

// ===MEDIA =========================================================================
.media {
    position: relative;
    .container {
        position: relative;
        z-index: 4;
        .media-title {
            text-align: center;
            margin: 61px 0 40px 0;
        }
        .media-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 30px;
            &__item {
                &__images {
                    position: relative;
                    &__play {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &__description {
                    h6 {
                        margin: 16px 0 16px 0;
                    }
                }
            }
        }
        .media-button {
            text-align: center;
            margin: 58px 0 61px 0;
            .button-play {
                padding: 10px 38px;
                &:hover {
                    background: $color-white;
                    color: $color-bg;
                }
            }
        }
    }
}
@media (max-width: 1250px) {
    .media {
        .container {
            .media-content {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                &__item {
                    &__images {
                        &__img {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .media {
        .container {
            .media-title {
                margin: 40px 0 32px 0;
            }
            .media-content {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
            .media-button {
                margin: 32px 0 40px 0;
            }
        }
    }
}
@media (max-width: 500px) {
    .media {
        .container {
            .media-content {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                &__item {
                    &:nth-child(4) {
                        display: none;
                    }
                    &__description {
                        h6 {
                            margin: 16px 0 8px 0;
                        }
                    }
                }
            }
        }
    }
}
// ===/MEDIA ========================================================================

// === ABOUT ========================================================================
.about {
    .container {
        position: relative;
        z-index: 4;
        .about-title {
            margin-top: 61px;
            text-align: center;
            h2 {
                margin: 0 0 46px 0 ;
            }
            p {
                max-width: 945px;
                margin: 0 auto 45px auto;
            }
        }
        .about-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 26px;
            justify-self: center;
            margin-bottom: 50px;
            &__item {
                text-align: center;
                h6 {
                    margin: 21px 0 17px 0;
                }
                p {
                    margin-bottom: 17px;
                }
                i {
                    color: $color-white;
                    margin-right: 13px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .about-button {
            text-align: center;
            margin-bottom: 61px;
            a {
                background: transparent;
                padding: 10px 29px;
                &:hover {
                    background: $color-white;
                    color: $color-bg;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .about {
        .container {
            .about-title {
                margin-top: 40px;
                h2 {
                    margin-bottom: 24px;
                }
            }
            .about-content {
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-row-gap: 60px;
                &__item {
                    img {
                        width: 154px;
                        height: 153px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .about {
        .container {
            .about-content {
                margin-bottom: 46px;
                &__item {
                    &__links {
                        i {
                            font-size: 20px;
                            margin-right: 25px;
                            &:last-child {
                                margin-right: 0;
                    }
                        }
                    }
                }
            }
            .about-button {
                display: none;
            }
        }
    }
}
// ===/ABOUT ========================================================================

// === FOOTER =======================================================================
.footer {
    position: relative;
    padding-top: 61px;
    .container {
        position: relative;
        z-index: 4;
        .footer-title {
            text-align: center;
        }
        .footer-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 22px;
            padding-bottom: 113px;
            .footer-links {
                margin-right: 17px;
                i {
                color: $color-white;
                font-size: 20px;
                margin-right: 22px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .footer-bg {
        background: url(../assets/bottomstars.png) center no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
}
@media (max-width: 768px) {
    .footer {
        padding-top: 46px;
        .container {
            .footer-container {
                display: block;
                margin-top: 36px;
                padding-bottom: 88px;
                text-align: center;
                .footer-links {
                    margin-bottom: 21px;
                    margin-right: 0;
                    i {
                    font-size: 30px;
                    }
                }
            }
        }
    }
}
// ===/FOOTER =======================================================================